<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.808186881002-ncqmrtrc05021fm2ekdlv2u6cjltbr14</string>
			</array>
		</dict>
	</array>
	<key>GIDClientID</key>
	<string>350684217869-kpq9gh1mpeki1ngbij5fmcieqvsaim69.apps.googleusercontent.com</string>
	<key>UIAppFonts</key>
	<array>
		<string>Montserrat-Regular.ttf</string>
		<string>Montserrat-Medium.ttf</string>
		<string>Montserrat-Bold.ttf</string>
		<string>Montserrat-SemiBold.ttf</string>
		<string>Montserrat-Light.ttf</string>
		<string>Montserrat-Italic.ttf</string>
	</array>
</dict>
</plist>
